# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/
models/
data/

# Javascript
node_modules/
dist/
.DS_Store
.idea/
.vscode/
coverage/
*.log

# Project specific
backend/models/
backend/data/
